.contact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;     
}


.form-container{    
    width: 100%;
       
}

.input-group{
    min-height: 100px;    
    
  
}


.input-group label{
    font-size: 1.6rem;
}

.input-group input, textarea{
    width: 100%;
    border-radius: 7px;
    padding: 1.5rem 1rem;            
    border: none;
    outline: none;  
    font-size: 1.4rem; 
    font-family: 'Nunito Sans', sans-serif;
    
}

.error{
    color: rgb(250, 67, 67);
    font-size: 1.4rem;
    font-weight: 700;
}


.form-container button{
    font-size: 1.8rem;
    color: #FFF;
    padding: 1rem 2.5rem;
    margin-right: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #000;
    border: 1px solid #FFF;
    cursor: pointer;
}

@media (max-width:600px){

    .contact{
        padding: 0 2%;        
    }
    

    .form-container button{
        width: 100%;
    }

    
    
}