.hero-container{
    min-height: 100vh;    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}



.hero-container img{
    width: 600px;
}

.hero-container span{
    font-size: 2rem;
}


.hero-container .content .text{
    font-size: 2rem;
    display: block;
    min-height: 60px;
    
    
}

.hero-container .content h1{
    font-size: 4rem;
    margin: 1.5rem 0;
}
.hero-container .content p{
    font-size: 2rem;
    margin-bottom: 3rem;

}

.hero-container .content a{
    font-size: 1.8rem;
    display: inline-block;
    width: 200px;
    color: #333;
    padding: 1rem 2.5rem;   
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #FFF;    
    cursor: pointer;
   
    
    
}

.hero-container .content .button-group a:nth-child(2){
    background-color: #4f4fe2;
    color: #FFF;
    
}

.clip-bg{
    clip-path: inset(0 0 0 24%);
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    
    
}

.button-group{
    display: flex;
    gap: 1rem;
}

@media (max-width:600px){

    .hero-container{
        flex-direction: column;
        padding-top: 15rem;
    }

    .hero-container .content{
        padding: 0 5px;        
        inset: 0;
        top: 30%;        
    }   

    .hero-container img{
        width: 400px;
    }
    .hero-container .button-group{
        flex-direction: column;
    
    }
    .hero-container .button-group a{
        width: 100%;
    }

    

}