.proyect-detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.proyect-detail-container img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.proyect-detail-container .proyect-info{
    max-width: 500px;
    
}

.proyect-detail-container .proyect-info h3{
    font-size: 2.4rem;
    margin-bottom: 2rem;
    
}

.proyect-detail-container .proyect-info .category-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;    
    gap: 1rem;
    
}

.category-container img{
    width: 80px;
    height: 80px;
}



.proyect-detail-container .proyect-info p{
    font-size: 1.5rem;
    margin: 2rem 0;
    line-height: 2rem;
}

.proyect-detail-container .proyect-info a{
    font-size: 1.4rem;
    padding: .5rem 3rem;
    background-color: #4f4fe2;
    color: #FFF;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 7px;
    display: inline-block;

}

.proyect-detail-container .proyect-info a:hover{
    transform: scale(1.1);
}

@media (max-width:600px){

    .proyect-detail-container{
        flex-direction: column;
    }

    .proyect-detail-container .category-container img{
        width: 50px;
        height: 50px;
    }
    
}