.heading{
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
    color: #333;
    
    
}

.heading span{
    font-size: 1.5rem;
    display: block;
    
    
}



.heading h2{
    font-size: 3.4rem;
    font-family: 'Poppins', sans-serif;
    display: inline;    
   
    font-weight: 700;
    margin-top: 1.5rem;
    
    
}