.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;

}

.about-container .picture-profile {
    flex: 1 1 30rem;

}

.about-container img {
    width: 500px;

}

.about-container .about-content {
    flex: 1 1 20rem;
    text-align: justify;
}

.skills-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}


.icons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 5px 0;
}


.tec{
    width: 100px;
    height: 100px;
    
    border-radius: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s;
}



.icons-container img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    

}


.icons-container i:hover {
    transform: scale(1.2);
}

@media (max-width:600px) {

    .about-container {
        flex-direction: column-reverse;
    }

    .about-container .picture-profile figure {
        width: 240px;
        height: 300px;

    }

    .about-container .picture-profile figure img {
        left: 15px;
        top: 15px;
    }

    .about-container img {
        width: 300px;
    }

    .icons-container img {
        width: 50px;
        height: 50px;
    }

}