.container-proyects-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.proyects-wrapper{
    display: grid;    
    grid-template-columns: 1fr 1fr;
    gap: 2rem;    
    align-items: center;
    
    

    
}

.proyects-wrapper figure{
    
    max-width: 450px;
    height: 280px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
}

.proyects-wrapper figure img{
    width: 100%;
    
    
}

.proyects-wrapper img:hover{
    animation: move-down 10s linear;
}

@keyframes move-down {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-70%);
    }
    100%{
        transform: translateY(0%);
    }
}

@media(max-width:800px){
    .proyects-wrapper{
        grid-template-columns: 1fr;
    }
}