.header-container{
    position: fixed; 
       
    background-color: #FFF;
    height: 50px;       
    display: flex; 
    box-shadow: 1px 5px 30px 5px rgba(0, 0, 0, .1);
    
    justify-content: space-between; 
    align-items: center;   
    gap: 5rem;
    padding: 1.4rem;
    text-align: center;   
    width: 100%; 
    z-index: 1200;
    padding: 0 10%;
}

.header-container ul {  
    display: flex;
    gap: 2rem;     
       
    
}

.header-container ul li a{
    color: #ccc;
}

.header-container ul li:hover a{
    color: #FFF;
    

}

.header-container ul li a{
    display: block;
    margin: 1rem 0;
    border-radius: 50%;
    
    background-color:var(--background-color-light);    
    color: #FFF;
    font-size: var(--fs-a);
    font-weight: 600;     
    
}

.header-container ul li:hover a{
    
    background-color: var(--hover-color);    

}

.logo{
    font-size: 2.4rem;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

.header-container figure img{
    width: 60px;
}

.navbar ul .nav-link{
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #000;
}


.theme-icons{
    position: absolute;
    right: 40px;
    top: 12px;
    font-size: 2.6rem;
    
}