@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}



section{
    
    min-height: 100vh;
    font-family: 'Adamina', serif;
    font-family: 'Secular One', sans-serif;
    padding: 0 10%;
    overflow-x: hidden;
    
}

h1, h2{
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
}

p{
    font-size: 1.6rem;
}

p, a{
    font-family: 'Monda', sans-serif;
}

:root{
    --body-color:#1E1F21;
    --background-color:#27282D;
    --background-color-light:#323336;
    --hover-color: #2C69A6;
    --fs-a: 1.6rem
}

button, i{
    transition: .3s linear;
}

@media (max-width:500px){
    section{
      padding: 2rem 2rem;
    }
}