@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
   
    
    
}

html{
    font-size: 62.5%;
    
}



section{
    
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    padding: 0 10%;
    overflow-x: hidden;
    
    
    
}



h1, h2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    
}

li{

    font-family: 'Poppins', sans-serif;


}

p{
    font-size: 1.6rem;
    font-weight: 300;
}



:root{
    --color-primary: #059dff;
    --blue-dark-color: #111827;
    --aqua-color: #71D0C0;
    --blue-color: #3C83F6;
    --purple-color: #8F36EA;
    --dark-color-body: #232533;
    --dark-color-section: #323445;
    --body-color:#1E1F21;
    --background-color:#27282D;
    --background-color-light:#323336;
    --hover-color: #2C69A6;
    --light-grey-color: #e4e4e4;
    --fs-a: 1.6rem;
    --primary-gradient: linear-gradient(
        95deg,
        var(--aqua-color) 15%,
        var(--blue-color) 45%,
        var(--purple-color) 75%
    );
}

button, i{
    transition: .3s linear;
}

@media (max-width:600px){

    html{
        font-size: 58.5%;
    }

  section{
    
    padding: 0 30px;
  }
}